[Unit]
Description=goweb logging service
After=network-online.target

[Service]
User=goweb
ExecStart=/bin/bash /opt/goweb/www/logging/logs.sh

[Install]
WantedBy=multi-user.target