[Unit]
Description=weblogs service
After=network-online.target

[Service]
ExecStart=/bin/bash /etc/website/logs.sh

[Install]
WantedBy=multi-user.target