
<!DOCTYPE html>
<html lang="en">

<head>
  {{define "title"}}
    Home Page
  {{end}}

  {{define "head"}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/content/styles.css">
  {{end}}

</head>

<body>

  {{define "content"}}
  <header class="text-center bg-secondary text-white py-5">
    <h1 class="display-4">Andrew Pineiro</h1>
  </header>
  <footer class="bg-dark text-white text-center py-3">
    <p>
      <a href="https://www.github.com/andrew-pineiro" target="_blank"><img src="/images/github.png"></img></a>
    </p>
    <p>&copy; 2024 Andrew Pineiro</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  {{end}}
  
</body>
</html>
